.main {

  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} 

.first{

  display: flex;
  justify-content: space-between;
  
  
}

.second{
  
  display: flex;
  justify-content: space-between;
}